div.Bienvenue {
     font-size: 95px;
     text-align: center;
     background-color: red;
     right: 10%;
     left: 10%;
     position: absolute;
     top: 1%;
     
}

div.manga {
    position: absolute;
    max-width: 1500px;
    height: 1500px;
    left: 20%;
    top: 27%;
}

div.CV {
    position: absolute;
    max-width: 1500px;
    height: 1500px;
    right: 20%;
    top: 27%;
}

body {
    background-image: url(https://images8.alphacoders.com/941/941331.jpg);
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




@media screen and (min-width: 1024px) and (max-width: 1440px)
{
div.Bienvenue {
    font-size: 95px;
     text-align: center;
     background-color: blue;
     right: 10%;
     left: 10%;
     position: absolute;
     top: 1%;
}

@media screen and (min-width: 1024px) and (max-width: 1440px)
{
div.manga {
    position: absolute;
    max-width: 1500px;
    height: 1500px;
    left: 1%;
    top: 27%;

}

@media screen and (min-width: 1024px) and (max-width: 1440px)
{
    div.CV {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        right: 1%;
        top: 27%;
}


/* Si l'écran est entre 768 et 1024 pixel*/


@media (min-width: 768px) and (max-width: 1024px) 
{
    div.Bienvenue {
        font-size: 99px;
         text-align: center;
         background-color: white;
         right: 10%;
         left: 10%;
         position: absolute;
         top: 1%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) 
{
    div.manga {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        left: 25%;
        top: 30%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) 
{
    div.CV {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        right: 25%;
        top: 119%;
}


/* Si l'écran est entre 300 et 600 pixel*/


@media screen and (max-width: 768px) 
{
    div.Bienvenue {
        font-size: 45px;
         text-align: center;
         background-color:green;
         right: 10%;
         left: 10%;
         position: absolute;
         top: 1%;
}

@media screen and (min-width: 300px) and (max-width: 768px) 
{
    div.manga {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        left: 25%;
        top: 27%;
}

@media screen and (min-width: 300px) and (max-width: 768px) 
{
    div.CV {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        right: 25%;
        top: 119%; 
} 