div.Bienvenue {
     font-size: 95px;
     text-align: center;
     right: 10%;
     left: 10%;
     position: absolute;
     top: 1%;  
    }

div.manga {
    position: absolute;
    max-width: 1500px;
    height: 1500px;
    left: 15%;
    top: 27%;
    }

div.CV {
    position: absolute;
    max-width: 1500px;
    height: 1500px;
    right: 15%;
    top: 27%;
    }

div.Miniature{
    position: absolute;
    max-width: 1500px;
    height: 1500px;
    left: 15%;
    top: 125%;
    }

div.Formulaire{
    position: absolute;
    max-width: 1500px;
    height: 1500px;
    right: 15%;
    top: 125%;
    }

body {
    background-image: url(https://images8.alphacoders.com/941/941331.jpg);
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }




@media screen and (min-width: 1024px) and (max-width: 1440px)
{
    div.Bienvenue {
        font-size: 95px;
        text-align: center;
        right: 10%;
        left: 10%;
        position: absolute;
        top: 1%;
        }

    div.manga {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        left: 1%;
        top: 37%;
        }

    div.CV {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        right: 1%;
        top: 37%;
        }

    div.Miniature{
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        left: 1%;
        top: 120%;
        }
    
    div.Formulaire{
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        right: 1%;
        top: 120%;
        }
}


/* Si l'écran est entre 768 et 1024 pixel*/


@media screen and (max-width: 1024px) and (min-width: 768px) 
{
    div.Bienvenue {
        font-size: 99px;
        text-align: center;
        right: 10%;
        left: 10%;
        position: absolute;
        top: 1%;
        }

    div.manga {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        left: 25%;
        top: 39%;
        }

    div.CV {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        right: 25%;
        top: 119%;
        }

    div.Miniature{
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        left: 25%;
        top: 163%;
        }
        
    div.Formulaire{
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        right: 25%;
        top: 200%;
        }
}



/* Si l'écran est entre 425 et 768 pixel*/
@media screen and (min-device-width: 580px) and (max-device-width: 768px)
{
    div.Bienvenue {
        font-size: 99px;
        text-align: center;
        right: 10%;
        left: 10%;
        position: absolute;
        top: 1%;
        }

    div.manga {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        align-items: center;        
        top: 24%;
        }

    div.CV {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        align-items: center;        
        top: 90%;
        }

    div.Miniature{
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        left: 25%;
       top: 123%;
        }
            
    div.Formulaire{
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        right: 25%;
        top: 150%;
        }
}


/* Si l'écran est entre 425 et 580 pixel*/
@media screen and (min-device-width: 425px) and (max-device-width: 580px)
{
    div.Bienvenue {
        font-size: 99px;
        text-align: center;
        right: 10%;
        left: 10%;
        position: absolute;
        top: 1%;
        }

    div.manga {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        align-items: center;        
        top: 23%;
        }

    div.CV {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        align-items: center;        
        top: 70%;
        }

    div.Miniature{
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        left: 25%;
        top: 95%;
        }
            
    div.Formulaire{
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        right: 25%;
        top: 115%;
        }
}


@media screen and (min-device-width: 375px) and (max-device-width: 425px)
{
    div.Bienvenue {
         font-size: 99px;
         text-align: center;
         right: 10%;
         left: 10%;
         position: absolute;
         top: 1%;
        }

    div.manga {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        align-items: center;        
        top: 19%;
        }

    div.CV {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        align-items: center;        
        top: 54%;
        }

    div.Miniature{
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        left: 25%;
        top: 75%;
        }
            
    div.Formulaire{
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        right: 25%;
        top: 95%;
        }
}


@media screen and (min-device-width: 320px) and (max-device-width: 375px)
{
    div.Bienvenue {
        font-size: 99px;
        text-align: center;
        right: 10%;
        left: 10%;
        position: absolute;
        top: 1%;
        }

    div.manga {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        align-items: center;        
        top: 15%;
        }

    div.CV {
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        align-items: center;        
        top: 48%;
        }

    div.Miniature{
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        left: 25%;
        top: 66%;
        }
            
    div.Formulaire{
        position: absolute;
        max-width: 1500px;
        height: 1500px;
        right: 25%;
        top: 85%;
        }
}